.container1 
{
    margin-top: -10px;
    position: fixed;
    width: 100%;
    background: #4D5157;
    padding-bottom: 20px;
}

.container2 
{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #4D5157;
    bottom: 0px;
    text-align: center;
}

.container3 
{
    position: relative;
    bottom: 0;
    width: 100%;
    background: #4D5157;
    bottom: 0px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;

}

.main_text
{
    padding-top: 160px;
    text-align: center;
}

.download_prompt
{
    font-size: 30px;
    font-weight: 400;
}

.title
{
   font-weight: bolder;
   font-size: xx-large;
   padding-top: 25px;
   text-align: center;
}

.download_button
{
    background-color: green;
    color: white;
    font-size: larger;
}

.download_button:hover
{
    background-color: darkgreen;
}

nav ul
{  
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 45px;
}

nav li 
{
    display: inline-block;
    padding-top: 15px;
    padding-right: 80px;
}

nav li.selected
{
    background-color:lightgray
}

nav ul li a{
 color: #800000;
 text-transform: uppercase;
 text-decoration: none;
 text-align: center;
 font-size: 15px;
 
}

nav ul li a:hover{
    color: #000;
}

bold
{
    font-size: 25px;
    font-weight: bold;
}